# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Secrets (VIKTIG)
.env

# IDE (IntelliJ / PyCharm)
.idea/
shelf/
workspace.xml
queries/
httpRequests/
dataSources/
dataSources.local.xml

# OS
.DS_Store